*
{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-align: center;
}

.titulo
{
    font-size: 40px;
    font-family: arial;
}

header
{
    background-color:#3088E6;
    font-size: 40px;
    color: azure;
    padding-top: 10px;
    padding-bottom: 10px;
    
}

.logo 
{
    width: 100px;
    height: 100px;
    margin-top: 15px;
    margin-bottom: 10px;
}

nav
{
    font-family: arial;
    background-color: #3088E6;
    color:#ffffff;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

main
{
    padding-left: 0px;
    padding-right: 0px;
    margin-bottom: 20px;
}

.bienvenida
{
    color:black;
    font-family:arial;
    font-size: 30px;
}

.fotos
{
    display: flex;
    justify-content: center;
    background-color:#3088E6;
}

.foto1
{
    width: 350px;
    height: 200px;
    margin: 0 10px;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 30px;   
}

footer
{
   background-color:#3088E6;
   color: #ffffff;
   font-size: 20px;
   padding-top: 10px;
   padding-bottom: 10px;
   font-family: arial;
}

.section1
{
    display: flex;
}

.section-left
{
    width: 20%;
}

.section-right
{
    width: 80%;
}